body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.hero{
    background-color: #1F2937;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.navs, .headers{
    display: flex;
    width: 60%;
}

.navs{
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 100px;
}

.links{
    font-size: 18px;
    color: #E5E7EB;
    min-width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.headers{
    justify-content: space-between;
    margin-bottom: 100px;
}

.introText{
    width: 45%;
    text-align: left;
}
.introImg{
    width: 40%;
}
.imgClass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: gray;
} 

.introText h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.introText p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    margin-top: 10px;
    width: 125px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10px;
}

.navs h3{
    font-size: 24px;
    color: #F9FAF8;
}

/*End of here and nav*/
/*Start of info section*/

.content{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.content-box{
    max-width: 200px;
}

.content-img{
    width: 200px;
    height: 200px;
    background-color: gray;
}

.quote{
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.quote-info{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    font-color: #1F2937;
}

b{
    text-align: end;
}

.action-form{
    padding: 25px 20px;
    background-color: #3882F6;
    margin: 100px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: white;
}

.action-form button{
    color: white;
    border-color: white;
}

.form-description{
    text-align: left;
}

.footer{
    background-color: #1F2937;
    color: white;
    padding: 20px 0px;
}
